/* [Generalidades de la página] */
:root{
	--colorflix: #DB202C;
}
body {
	background-color: #212529;
	min-width:600px;
}
.checked {
	color: orange;
}
#textArea {
	width: 40%;
	height: 4vh;
	border-radius: 1vh;
}
#searchBtn {
	background-color: #0b5ed7;
	width: 10%;
	height: 4vh;
	border-radius: 7px;
	color: rgb(255, 255, 255);
}
/* [Generalidades de la página] */
/* [Contenedor de películas] */
.peliContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: rgb(255, 255, 255);
	border: solid #191b1f 1px;
	width: 80%;
	padding: 2vh;
}
.peliTitle {
	position: relative;
	font-weight: bold;
}
.peliTagline {
	color: #5c5d5e;
}
#itemContainer {
	margin-top: 2vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: fit-content;
}
#titleImg {
	height: 100px;
}
#titleContainer {
	margin-top: 2vh;
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
#inputContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	row-gap: 10px;
}
/* [Contenedor de películas] */
/* [Contenedor de información] */
#infoContainer{
	width:80%;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	background: #212529;
	color:rgb(255, 255, 255);
	border: 1.5px solid var(--colorflix);
	border-radius: 10px;
	display: none;
	z-index: 3;
}
#first-line {
	display:flex;
	justify-content: space-between;
}
#infotitleContainer{
	font-size: 1.5rem;
}
#descriptionContainer, #genrecontainer{
	font-size: 1.2rem;
}
#closingbtn{
	width: 40px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}
#closingbtn:hover, #infoBtn:hover{
	background-color: var(--colorflix);
}
hr {
	border-color: var(--colorflix);
}

/* [Contenedor de información adicional] */
#moreinfoContainer {
    width: 40px;
    display: none;
    background-color: #212529;
}
#additionalInfo {
	display: none;
    position: absolute;
    display: flex; 
    max-height: 30; 
    overflow: hidden; 
    transition: max-height 0.3s ease-in-out; 
}
.menu-container {
    background-color: #212529; 
    border: 1px solid var(--colorflix); 
    padding: 10px; 
    border-radius: 2px;
    font-family: Arial, sans-serif;
    font-size: 12px; 
    font-weight: lighter; 
    font-style: normal; 
    line-height: 1.5; 
    color: rgb(255, 255, 255); 
}
#infoBtn {
    cursor: pointer; 

}
#infoBtn.active {
    transform: rotate(180deg); 
}
#additionalInfo.active {
    max-height: 1000px; 
    padding: 10px; 
}
/* [Contenedor de películas] */